<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.avansb.smartfarm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Smartfarm">

        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->

        <activity android:name=".SensorsMainActivity"/>
        <activity android:name=".akker_view" />
        <activity android:name=".windModule" />
        <activity android:name=".ForgotPasswordActivity"/>
        <activity android:name=".SingupActivity"/>
        <activity android:name=".HomeActivity"/>
        <activity android:name=".crops.CropsActivity" />
        <activity android:name=".SettingUserActivity" />
        <activity android:name=".AirSensorModuleActivity" />
        <activity android:name=".gasmodule.GasActivity"/>
        <activity android:name=".soilmodule.SoilActivity"/>
        <!-- <activity -->
        <!-- android:name=".MainActivity" -->
        <!-- android:label="@string/title_activity_main" -->
        <!-- android:theme="@style/Theme.Smartfarm.NoActionBar" /> -->
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>